<div class="card text-center cardContainer" *ngIf="estaLogueado()">
    <div class="card-header text-center">
      Chat grupal
    </div>

    <div class="card-body" style="height: 80%;">
        <div id="ListaDeMensajes" class="ContenedorMensajes h-100" #scrollMe>
          <div style="margin: 5px;" *ngFor="let mensaje of listaMensajes" class="p-1"
            [ngClass]="(this.usuariologeado.uid == mensaje.emisor)? 'enviado' : 'recibido'">
            <p style="margin: 0">{{mensaje.nombre+": "}}{{mensaje.texto}}</p>
            <p style="opacity: 0.5;margin: 0">{{mensaje.hora | date: "HH:mm"}}</p>
          </div>
        </div>
    </div>

    <form class="card-footer text-muted input-group" (ngSubmit)="EnviarMensaje()">
        <input type="text" class="form-control" placeholder="Escriba su mensaje"
          aria-label="Recipient's username" aria-describedby="basic-addon2"
          [(ngModel)]="nuevoMensaje" [ngModelOptions]="{standalone: true}">
        <div class="input-group-append" (click)="EnviarMensaje()">
          <span class="input-group-text" id="basic-addon2">
            <img class="imgEnviar" src="../../../assets/send.png" width="20px" alt="enviar mensaje">
          </span>
        </div>
    </form>

</div>
